@font-face {
    font-family: 'Porche Logo';
    src: url('911\ Porscha.ttf') format('woff');;
}
@font-face {
    font-family: 'Porsche Next';
    src: url('porsche-next.otf') format('woff');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    position: absolute;
    top: 0;
    z-index: 20;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 20px 0;
    margin-bottom: 0;
    width: 99vw;
    }

    .logobox {
        justify-self: center;
        align-items: center;
    }
    .logobox .logo{
        font-size: 30px;
        font-family: Porche Logo;
        color: black;
        text-decoration: none;
    }

    .sidebarbox{
        justify-self: center;
    }
    .sidebarbox :hover{
        background-color: rgb(233, 233, 233);
        border-radius: 5px;
    }
    .sidebar{
        display: flex;
        border: none;
        background-color: transparent;
    }
    .sidebar h3{
        font-family: Porsche Next;
        font-weight: 100;
        margin: auto 3px;
    }

    .accountbox{
        justify-self:center;
    }
    .account{
        display: flex;
        border: none;
        align-content: center;
        background-color: transparent;
        align-content: last baseline;
    }
    .hidesb{
        margin-top: 20px;
        fill: rgb(123, 123, 123);
        margin-left: 30px;
        list-style: none;
    }
    .hidesb :hover{
        fill: black;
    }

    .sidemenu{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 400px;
        z-index: 999;
        background-color: rgba(155, 155, 155, 0.3);
        backdrop-filter: blur(10px);
        box-shadow: 7px 0 20px black;
        display: none;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .ul{
        margin-left: 50px;
    }
    .sidemenu li button span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
    }
    .sidemenu li button{
        width: 100%;
        border: none;
        background-color: transparent;
    }
    .sidemenu li button :hover{
        background-color: rgb(183, 183, 183);
        border-radius: 10px;
        cursor: pointer;
    }
    .sidemenu li:not(:first-child){
        width: 300px;
        list-style: none;
        align-content: center;
        margin: 15px;
    }
    .sidemenu p{
        font-size: 30px;
        font-family: Porsche Next;
        color: black;
        text-decoration: none;
        list-style: none;
        align-content: center;
    }


.home-body{
    width: 99vw;
    height: 2000px;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
}
#image-1{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#image-1 img{
    width: 50vw;
    overflow: hidden;
}
#image-1 p{
    color: tomato;
    font-family: Porsche Next;
    font-size: 27px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -10px;
    word-spacing: -10px;
    position: absolute;
    top: 35px;
    left: 745px;
    width: 40px;
    height: 100%;
    text-align: center;
    background-color: white;
}
#image-2{
    display: none;
    width: 100%;
    height: inherit;
    object-fit: cover;
    position: absolute;
}
#image-2 img{
    width: 50vw;
    overflow: hidden;
}
#image-1 p  :hover{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
@keyframes next_slide1 {
    from {
        opacity: 1;
        transform: scale(1, 1);
        display: flex;
    }
    to {
        opacity: 0;
        transform: scale(0, 0);
        display: none;
    }
}
@keyframes next_slide2{
    0% { left: 100vw;}
    100% { left: 0;}
}
@keyframes prev_slide1 {
    from {
        opacity: 1;
        transform: scale(1, 1);
        display: flex;
    }
    to {
        opacity: 0;
        transform: scale(0, 0);
        display: none;
    }
}
@keyframes prev_slide2{
    0% { left: 100vw;}
    100% { left: 0;}
}
#next-slide-button{
    position: absolute;
    top: 33vh;
    left: 95vw;
    border: none;
    background-color: transparent;
    fill: white;
}
#prev-slide-button{
    transform: scaleX(-1);
    position: absolute;
    top: 33vh;
    left: 1vw;
    border: none;
    background-color: transparent;
    fill: white;
}
